<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Revolut Real Exchange Rates Monitor - Donate</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-grid.min.css" type="text/css"/>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-reboot.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/donate.css" type="text/css"/>
</head>
<body>
    <div id="contact" class="container well">
        <button type="button" class="twitter"><a href="https://twitter.com/MehdiChch" class="twitter-follow-button" data-show-count="false"><img src="/img/twitter32.png"> <span id="strFollow1">Follow</span> @MehdiChch</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></button> <span id="strFollow2">on Twitter for help and suggestions! Or add a new issue on</span> <a href="https://github.com/mehdichaouch/revolut-real-exchange-rates-monitor/issues/new" target="_blank">GitHub</a>.
    </div>
    <div id="main" class="container well">
        <h4 id="strDonations">Donations</h4>
        <p id="strDonationsTxt">If you're feeling generous and thankful, please consider making a donation!</p>

        <div class="row justify-content-center">
            <div class="col-6 col-md-4 well card">
                <img class="icon" src="/img/btc16.png"><p class="title">Bitcoin</p>
                <img class="QR" src="/img/QR_btc.png">
                <p id="btcAddress" class="address">3Hcy9sHTki6qa6159ALQTTWJcTXci8Wmn4</p>
            </div>
            <div class="col-6 col-md-4 well card">
                <img class="icon" src="/img/bch16.png"><p class="title">Bitcoin Cash</p>
                <img class="QR" src="/img/QR_bch.png">
                <p id="bchAddress" class="address">qrqnu4s32d44x3hun5gt52ddqm60mcen5v5yk5kcdz</p>
            </div>
            <div class="col-6 col-md-4 well card">
                <img class="icon" src="/img/eth16.png"><p class="title">Ethereum</p>
                <img class="QR" src="/img/QR_eth.png">
                <p id="ethAddress" class="address">0x97E0dfc8Fe5F7a789B6Aa2c21Fa3868eeB39C202</p>
            </div>
            <div class="col-6 col-md-4 well card">
                <img class="icon" src="/img/etc16.png"><p class="title">Ethereum Classic</p>
                <img class="QR" src="/img/QR_etc.png">
                <p id="etcAddress" class="address">0xeDdaE45247e3e29c3F4B83f9C0EEacFC6fD8557d</p>
            </div>
            <div class="col-6 col-md-4 well card">
                <img class="icon" src="/img/ltc16.png"><p class="title">Litecoin</p>
                <img class="QR" src="/img/QR_ltc.png">
                <p id="ltcAddress" class="address">M9GVkVc5BKVgZi8Lv5CPgu1X2kvhMs4qnL</p>
            </div>
            <div class="col-6 col-md-4 well card">
                <img class="icon" src="/img/zrx16.png"><p class="title">0x</p>
                <img class="QR" src="/img/QR_zrx.png">
                <p id="zrxAddress" class="address">0xb402144e6aDb6c2C77c2Fb80A3F0E635EB8F9969</p>
            </div>
            <div class="col-6 col-md-4 well card">
                <img class="icon" src="/img/bat16.png"><p class="title">Basic Attention Token</p>
                <img class="QR" src="/img/QR_bat.png">
                <p id="batAddress" class="address">0x45343F0Fab243faC15E6E23791344DB5CB498b5B</p>
            </div>
            <div class="col-6 col-md-4 well card">
                <img class="icon" src="/img/usdc16.png"><p class="title">USD Coin</p>
                <img class="QR" src="/img/QR_usdc.png">
                <p id="usdcAddress" class="address">0x29233d2f4fd438d655e7b589A29641b2CA9f8bF2</p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/donate.js"></script>
</body>
</html>
