body {
  background-color: #f4f7fa;
  font-family: 'Roboto', sans-serif;
}
body .boxShadow {
  box-shadow: inset 0px 0px 2px 1px #bfbfbf;
  background: white;
  border-radius: 5px;
}
body #contact {
  margin-top: 25px;
  padding: 20px;
  background-color: #FFF;
  box-shadow: inset 0px 0px 2px 1px #bfbfbf;
  border-radius: 4px;
  color: #5c6878;
}
body #contact button {
  width: auto;
  height: 30px;
  background: #1b95e0;
  box-shadow: none;
  border-radius: 4px;
  border: none;
}
body #contact button:hover {
  background: #0c7abf;
}
body #contact button img {
  width: 12px;
  height: 12px;
  margin-top: -2px;
}
body #contact button a {
  color: white !important;
  text-decoration: none;
}
body #main {
  margin-top: 25px;
  background-color: #FFF;
  padding: 15px;
  box-shadow: inset 0px 0px 2px 1px #bfbfbf;
  background: white;
  border-radius: 5px;
}
body #main h4 {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 10px;
}
body #main .card {
  height: 330px;
  width: auto;
  max-width: 350px;
  margin: 15px;
}
body #main .card:hover > .QR {
  filter: blur(0);
}
body #main .card p {
  text-align: center;
  transition: 0.5s;
  cursor: hand;
}
body #main .card p.success {
  background: #9de2a9;
  user-select: none;
}
body #main .card .title {
  font-weight: bold;
  border-bottom: 1px solid #e3e3e3;
}
body #main .card .icon {
  position: relative;
  left: 50%;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  margin-bottom: 0px;
  margin-top: 5px;
}
body #main .card .QR {
  position: relative;
  left: 50%;
  margin-left: -100px;
  box-shadow: inset 0px 0px 2px 1px #bfbfbf;
  background: white;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  filter: blur(7px);
  transition: 0.3s;
}
body #main .card .address {
  box-shadow: inset 0px 0px 2px 1px #bfbfbf;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  height: 30px;
}
